# Virtual environments
.venv/
.pvenv/
backend/.venv/
backend/.pvenv/
backend/*.db
backend/__pycache__/

# Environment variables
.env
*.env

# Python
**/__pycache__/
__pycache__/
*.pyc
*.py[cod]
*.zip
.DS_Store

# Databases
*.db

# Storage
storage/*
!storage/.gitkeep