fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
pydantic
pydantic-settings
requests
python-multipart
pytesseract
# easyocr
pillow
pypdf
opencv-python
azure-ai-documentintelligence
azure-core
python-dotenv
nicegui
qrcode[pil]
email-validator
psycopg2-binary